# Application
API__HOST=0.0.0.0
API__PORT=8000
API__WORKERS=1
API__DEBUG=true
API__INSTANCE_APP_NAME=pattern-service
API__REQUEST_TIMEOUT=30
API__GRACEFUL_SHUTDOWN_TIMEOUT=30

# PostgreSQL
POSTGRES__HOST=localhost
POSTGRES__PORT=5432
POSTGRES__USER=postgres
POSTGRES__PASSWORD=postgres
POSTGRES__DATABASE_NAME=pattern_service
POSTGRES__MIN_CONNECTION=2
POSTGRES__MAX_CONNECTION=20
POSTGRES__MAX_IDLE=300
POSTGRES__TIMEOUT=30
POSTGRES__STATEMENT_TIMEOUT=30000
# POSTGRES__DSN=postgresql://postgres:postgres@localhost:5432/pattern_service
